<section class="about">
  <div class="about__content">
    <div class="about__info">
      <h2 class="title title--small about__title">
        From a studio in London to a global brand with
        over 400 outlets
      </h2>
      <p class="about__descr">
        When we started Avion, the idea was simple. Make high quality furniture affordable and available for the mass
        market.
      </p>
      <p class="about__descr">
        Handmade, and lovingly crafted furniture and homeware is what we live, breathe and design so our Chelsea
        boutique
        become the hotbed for the London interior design community.
      </p>
      <button class="btn btn--theme-light about__btn">
        Get in touch
      </button>
    </div>
    <img src="img/about-1.jpg" srcset="img/about-1.jpg" aria-hidden="true" width="720" height="603" loading="lazy"
      alt="" class="about__image">
  </div>
</section>