<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__text">
        <h1 class="hero__title">
          The furniture brand for the future, with timeless designs
        </h1>
        <a href="#" class="btn btn--theme-dark hero__link">View collection</a>
        <p class="hero__descr">
          A new era in eco friendly furniture with Avelon, the French luxury retail brand
          with nice fonts, tasteful colors and a beautiful way to display things digitally
          using modern web technologies.
        </p>
      </div>
      <img src="img/hero-image.jpg" srcset="img/hero-image_2x.jpg 2x" width="520" height="584" alt="Chair"
        class="hero__image">
    </div>
  </div>
</section>