<div class="newsletter">
  <div class="container">
    <div class="newsletter__content">
      <h2 class="title title--large-xl title--mb-small-xs newsletter__title">
        Join the club and get the benefits
      </h2>
      <p class="newsletter__descr">
        Sign up for our newsletter and receive exclusive offers on new ranges, sales, pop up stores and more
      </p>
      <form action="#" method="POST" class="form newsletter__form">
        <input type="email" name="email" required class="input-reset form__input" placeholder="your@email.com">
        <button class="btn btn--theme-darker form__btn" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>