<section class="products">
  <div class="container">
    <h2 class="title title--large title--mb-small products__title">
      Our popular products
    </h2>
    <ul class="list-reset products__list grid">
      <li class="products__item products__item--big">
        <article class="product">
          <div class="product__top">
            <img src="img/product-5.jpg" srcset="img/product-5_2x.jpg 2x" width="630" height="375" loading="lazy"
              aria-hidden="true" alt="" class="product__image">
          </div>
          <div class="product__content">
            <h3 class="product__title">
              <a href="#" class="product__link">
                The Poplar suede sofa
              </a>
            </h3>
            <span class="product__price">
              £980
            </span>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product">
          <div class="product__top">
            <img src="img/product-6.jpg" srcset="img/product-6_2x.jpg 2x" width="305" height="375" loading="lazy"
              aria-hidden="true" alt="" class="product__image">
          </div>
          <div class="product__content">
            <h3 class="product__title">
              <a href="#" class="product__link">
                The Dandy chair
              </a>
            </h3>
            <span class="product__price">
              £250
            </span>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product">
          <div class="product__top">
            <img src="img/product-7.jpg" srcset="img/product-7_2x.jpg 2x" width="305" height="375" loading="lazy"
              aria-hidden="true" alt="" class="product__image">
          </div>
          <div class="product__content">
            <h3 class="product__title">
              <a href="#" class="product__link">
                The Dandy chair
              </a>
            </h3>
            <span class="product__price">
              £250
            </span>
          </div>
        </article>
      </li>
    </ul>
    <div class="centered">
      <a href="#" class="btn btn--theme-light products__btn">
        View collection
      </a>
    </div>
  </div>
</section>